/* Estilização geral */


@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');

hmtl{

height: 100%;


}


body {
  margin: 0;
  background-color: #1B2046;
  height: 100%;


}
a{

text-decoration: none;

}
 /* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  color: white;
  padding: 10px 20px;
}

.menu ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
}

.menu li {
  list-style: none;
  cursor: pointer;
}

.botoes a {
  margin-left: 10px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.botaologin {
  background-color: #fff;
  color: #111;
}

.botaocadastro {
 background-color: #160160e8;
  color: white;
}

/* Home section */

.sec_1 {
  height: 110vh;
  background-image: url(../assets/pexels-wearelivingart-8960870.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 566px;
}
.sec_1 .balaocarro {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 570px;
  width: 90px;
  margin-left: 650px;
  opacity: 80%;
}

.balaocarro h3 {
  text-align: center;
  border-radius: 20px;
}

.sec_1 h3 {
  
  margin: 0;
  background-color: rgb(21 25 98 / 32%);
  font-size: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mohave", sans-serif;
      height: 500px;
    width: 590px;
  
}

.sec_2 {
  background-color: #ffffff;
}

.sec_2 h3 {
  margin: 0;
  
}
